body {
	background-color: #fdfdfd;
	margin: 0;
	padding: 0;
}
canvas {
	margin-left: auto;
	margin-right: auto;
	border:solid black 1px;
}

.wrapper {
	width: 100%;
}

.border {
	
}
div#body {
	float:left;
}
div#menu {
	float:left;
	height:100%;
	margin-right: 50px;
	border-right: black solid 1px;
}

h2 {
	margin:0;
}
.person {
	width: 500px;
}

.clear {
	clear: both;
}
.column {
	float:left;
}
.addUser {
	height:25px;
	width:25px;
	display:block;
	background-image:url("/summons-ui/resources/images/add_user_25.png");
}
.editUser {
	height:25px;
	width:25px;
	display:block;
	background-image:url("/summons-ui/resources/images/edit_user_25.png");
}

span.label {
	min-width: 200px;
	width: 200px;
}

.deleteUser {
	height:25px;
	width:25px;
	display:block;
	background-image:url("/summons-ui/resources/images/delete_25.png");
}

.addInvitation {
	height:25px;
	width:25px;
	display:block;
	background-image:url("/summons-ui/resources/images/add_invitation_25.png");
}
.loginForm {
	height:200px;
	margin-top:150px;	
	margin-bottom:50px;	
}
.content {
	margin:auto;
	min-height: 50%;
	width: auto;
	
}
.content table{
	width: 300px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	background-color: #fafafa;
	
}

.center_with_border {
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fafafa;
	padding-left: 5px;
	padding-top: 5px;
	width: 50%; 
	border-color : #e6e6e6;
	border-width: 1px;
	border-style: solid;
	border-color: #e6e6e6;
}

input, button {
	margin-top: 5px;
}